<%= label_tag 'Level Name'%> 

<%= text_field_tag 'levelName', nil,:placeholder => 'enter level name' %>
</br></br>
<%= label_tag 'sequence'%> 
</br>
<%= radio_button_tag 'sequence', 'naive'  %>    naive </br>
<%= radio_button_tag 'sequence', 'random once'  %>    random once</br>
<%= radio_button_tag 'sequence', 'random'  %>    random</br>
<%= radio_button_tag 'sequence', 'bkt'  %>    bkt</br>
<%= radio_button_tag 'sequence', 'dtree'  %>    dtree</br>

<div id=item1  class="itemclone" >
  	<%= label_tag 'question '%> 
		<%= text_field_tag 'question', nil,:placeholder => 'enter question' %>
</br>
		<%= label_tag 'answer '%> 
		<%= text_field_tag 'answer', nil,:placeholder => 'enter answer' %>
</div>

<div id="itembuttondiv"  >
<input type="button" id="itembuttonadd" value="Add" /> 
<input type="button" id="itembuttondelete" value="Remove"  /> 
</div>

</br>
<%= label_tag 'kcs'%>
<div id=kc1  class= "kcclone" >
		<%=text_field_tag 'kcname', nil, :placeholder => 'Enter kcname ' %>   		
		<%=text_field_tag 'L',   nil,   :placeholder => 'Enter L '   %>  
		<%=text_field_tag 'G',  nil,  :placeholder => 'Enter G'  %>  
		<%=text_field_tag 'T',     nil,     :placeholder => 'Enter T' %>
		<%=text_field_tag 'S', nil, :placeholder => 'Enter S' %>   		
		<%=text_field_tag 'itemnumbers',   nil,   :placeholder => 'Enter itemnumbers'   %>  	  																		      
</div>
<div id="kcbuttondiv"  >
<input type="button" id="kcsbuttonadd" value="Add" /> 
<input type="button" id="kcsbuttondelete" value="Remove"  /> 
</div>
</br></br>
<%= label_tag 'Bin Sizes'%> 

<%= text_field_tag 'binsizes', nil,:placeholder => 'enter bin sizes' %>




